/* Importa los estilos de ol.css */
@import "node_modules/ol/ol.css";

/*-------------------------------------------------------
1. Typography css ) 
---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');




/*-------------------------------------------------------
3. Header top css
--------------------------------------------------------- */



.header-1-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerslogan span {
    color: #fff;
    font-family: var(--font-family-2);
    font-size: 1.4rem;
    margin-left: 1rem;
    display: inline-block;
}

.header-loc .loc-txt {
    color: #fff;
    font-family: var(--font-family-2);
    font-size: 1.4rem;
    margin-left: 1rem;
    display: inline-block;
}

.header-social-loc {
    display: flex;
}

.header-social-loc ul {
    display: flex;
    margin-left: 1rem;
}

.header-social-loc ul li {
    margin-right: 1rem;
}

.header-social-loc ul li a i {
    font-size: 1.4rem;
    color: var(--heading-color);
}

.header-social-loc ul li:last-child {
    margin-right: 0;
}

/*Header Logo Section*/
.css-selector {
    background: linear-gradient(31deg, #353467, #2c3e50, #366a96, #1a242f);
    background-size: 800% 800%;


    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    -o-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:70% 0%}
    50%{background-position:31% 100%}
    100%{background-position:70% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:70% 0%}
    50%{background-position:31% 100%}
    100%{background-position:70% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:70% 0%}
    50%{background-position:31% 100%}
    100%{background-position:70% 0%}
}
@keyframes AnimationName {
    0%{background-position:70% 0%}
    50%{background-position:31% 100%}
    100%{background-position:70% 0%}
}

a, a:active, a:focus, a:hover {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
a {
  color: var(--body-color);
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.img, img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
/* Estilos generales para el cuerpo de la página */
 body {
  margin: 0;
  height: 100%;
  font-family: var(--bs-font-sans-serif);
  font-size: var(--bs-body-font-size);
  background-color: var(--bs-body-bg); /* Color de fondo de Bootstrap */
  color: var(--bs-body-color); /* Color de texto de Bootstrap */
}

/* Estilos para el contenedor del mapa */
#map {
  position: relative;
  margin-top: 20px;
  width: 100%;
}

/* Estilos para el mapa en sí */
.map {
  width: 100%;
  height: 400px;
}

/* Estilos para el enlace "skiplink" */
a.skiplink {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

a.skiplink:focus {
  clip: auto;
  height: auto;
  width: auto;
  background-color: #fff;
  padding: 0.3em;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.about-area::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.9);
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*, ::after, ::before {
  box-sizing: border-box;
}
element.style {
  background-image: url(https://www.fpune.edu.py/v2/assets/img/header/header-bg.jpg);
}

.about-area {
  background-size: cover!important;
  background-repeat: no-repeat!important;
}
.posi-rel {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.de-padding {
  padding: 8rem 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*, ::after, ::before {
  box-sizing: border-box;
}

hoja de estilo de user-agent
div {
  display: block;
}